#comp {
  height: 75px;
  width: 300px;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  float: left;
  font-family: Impact;
  font-size: 50px;
  text-align: center;
 
}
 
 #mainmenu {
   margin: auto;
   height: 75px;
   width: 300px;
   background-color: white;
   border: 4px solid black;
   border-radius: 5px;
   font-family: Impact;
  font-size: 50px;
  text-align: center;
  cursor: pointer;


 }
#player {
  height: 75px;
  width: 300px;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  float: right;
  font-family: Impact;
  font-size: 50px;
  text-align: center;
    
}
body {
 background-color: black;
}
#result {
   height: 100px;
  width: 600px;
  background-color: white;
  border: 4px solid black;
  border-radius: 5px;
  font-family: Impact;
  font-size: 75px;
  text-align: center;
  margin: auto;
  margin-top: 700px;
  
}
#playagain {
       height: 75px;
   width: 300px;
   background-color: white;
   border: 4px solid black;
   border-radius: 5px;
   font-family: Impact;
   font-size: 50px;
   text-align: center;
   margin: auto;
   margin-top: -250px;
   cursor: pointer;
}
  
#comc {
  position: fixed;
 margin-top: 20%;
 margin-left: 25px;
 height: 200px;
width: 200px;
}
#playc {
 position: fixed;
 margin-top: 20%;
 margin-right: 25px;
 height: 200px;
 width: 200px;
}
