p { 
  color:black;
  text-align: center;
  font-family: Impact;
}
body {
	background-image: url("https://wallpaperscraft.com/image/road_desert_marking_105395_1600x900.jpg");
	background-repeat: no-repeat;
	background-size: 1600px 900px;
}

a:hover {
  color: yellow;
}
h1 {
  font-family:Impact;
  text-align: center;
}
p:hover {
  color:Purple;
}
#rock {
	border-radius: 5px;
	border: 2px solid black;
	background-color: white;
	height: 40px;
	width: 120px;
	text-align: center;
        Text-decoration: none;
        color: black;
       position: absolute;
        margin-top: 400px;
        margin-left: 740px;
        
        
}
div a {
	text-decoration: none;
	color:black;
	background-color: white;
}
div a:hover {
	color: green ;
	text-decoration: underline;
}
#puppy {
	position: absolute;
	border: 10px solid black;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	
}
#list {
	margin-left: 1279px;
	height: 880px;
	width: 300px;
	background-color: white;
	border: 4px solid black;
	border-radius: 5px;
	margin-top: -185px
	
}

