p { 
  color:black;
  border-color:black;
  border-width:3px;
  border-style:solid;
  border-range:5px;
  border-height: 100px;
}
* {
  background-color: red;
}
a:hover {
  color: yellow;
}
h1 {
  font-family:Impact;
  border-color:black;
  border-width:3px;
  border-style:solid;
  border-range:5px;
}
