  
  div {
  border-radius: 5px;
	border: 2px solid black;
	background-color: white;
	height: 40px;
	width: 120px;
	margin: auto;
	text-align: center;
  Text-decoration: none;
  color: black;
  }
  body { 
    background-color: red;
}
